{% macro get_meta_data_html(article, default_category) %}
  {{ article.date.strftime('%b %d, %Y') }}
  {% if article.category != default_category %}
    / <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
  {% endif %}
  {% if article.tags %}
    /
    {% for tag in article.tags %}
      {% if not loop.last %}
        <a href="{{ SITEURL }}/{{ tag.url }}" rel="tag">{{ tag }}</a>,
      {% else %}
        <a href="{{ SITEURL }}/{{ tag.url }}" rel="tag">{{ tag }}</a>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro get_article_list(articles, default_category) %}
<ul>
  {% for article in articles %}
    <li>
      <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
      &nbsp
      <span class="post-meta">({{ get_meta_data_html(article, default_category) }})</span>
    </li>
  {% endfor %}
</ul>
{% endmacro %}
