{% macro get_meta_data_html(article, default_category) %}
  {{ article.date.strftime('%b %d, %Y') }}
  {% if article.category != default_category %}
    / <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
  {% endif %}
  {% if article.tags %}
    /
    {% for tag in article.tags %}
      {% if not loop.last %}
	<a href="{{ SITEURL }}/{{ tag.url }}" rel="tag">{{ tag }}</a>,
      {% else %}
	<a href="{{ SITEURL }}/{{ tag.url }}" rel="tag">{{ tag }}</a>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro get_page_meta_data_html(page) %}
  {% if page.modified or page.date %}
    Last Modified: 
    {% if page.modified %}
      {{ page.modified.strftime("%b %d, %Y") }}
    {% elif page.date %}
      {{ page.modified.strftime("%b %d, %Y") }}
    {% endif %}
  {% endif %}
{% endmacro %}
  
{% macro get_article_list(articles, default_category, hidden_category) %}
  <ul>
    {% for article in articles %}
      {% if article.category.name != hidden_category %}
	<li>
	  {% if article.category.name == 'External Links' %}
	    <a href="{{ article['link'] }}" target="_blank">{{ article.title }}</a>
	  {% else %}
	    <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
	  {% endif %}
	  &nbsp
	  <span class="post-meta">({{ get_meta_data_html(article, default_category) }})</span>
	</li>
      {% endif %}
    {% endfor %}
  </ul>
{% endmacro %}
